name: Create an S3 Buckets

on:
    push:
        branches:
            - master
    workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout


jobs:
  creating_bucket:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
           aws-region: ${{ secrets.AWS_REGION }}
           role-to-assume: ${{secrets.IAM_ROLE}}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3   

      - name: Initialize Terraform 
        run: terraform init
        working-directory: terraform

      - name: Terraform plan
        env: 
           BUCKET_NAME: ${{ secrets.BUCKET_NAME}}
        run:  |
           terraform plan \
             -var="bucket_name=$BUCKET_NAME"
        working-directory: terraform
         
      - name: Terraform apply
        env:
         TF_VAR_bucket_name: ${{ secrets.BUCKET_NAME }}
        run: terraform apply -auto-approve
        working-directory: terraform  

      - name: Uploading Files to S3 Bucket
        run: |
          aws s3 cp index.html s3://${{ secrets.BUCKET_NAME }}/index.html
          aws s3 cp --recursive images/ s3://${{ secrets.BUCKET_NAME }}/images/
          aws s3 cp --recursive styles/ s3://${{ secrets.BUCKET_NAME }}/styles/

