name: List S3 Buckets

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
  listing_buckets:
    runs-on: ubuntu-latest
    steps:
       - name: Configure AWS Credentials
         uses: aws-actions/configure-aws-credentials@v5.1.1
         with:
           aws-region: us-east-1
           role-to-assume: ${{secrets.IAM_ROLE}}
            
       - name: List S3 Buckets
         env:
          AWS_REGION: ${{ secrets.AWS_REGION}}
         run: |
           echo "Listing S3 Buckets"
           aws s3 ls

